<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h1>A recent transaction has resulted in depleted quantities of <%= @coin.name %>s.</h1>>
    <p>
        Low-quantity alert: <%= @coin.name %>s current quantity is: <%= @coin.quantity %>
    </p>
    <p>
        The current value of ALL coins in the system is $<%= @total_value %>
    </p>
  </body>
</html>
